@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bricolage Grotesque;
}

body {
    height: 8000px;
}

.header {
    background-color: #043A3A;
    padding: 32px 98px;
}

li {
    list-style: none;
}

.header-nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ever-green-text {
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
}

.ever-green-text span {
    color: #2FB95D;
}

.links-in-header {
    display: flex;
    gap: 32px;
    color: #fff;
}

.links-in-header li a {
    text-decoration: none;
    color: #fff;
}

.links-in-header li:last-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-pages {
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    rotate: 45deg;
}

.rotate-for-menu-pages {
    rotate: 225deg;
}

.links-in-header li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #fff;
    height: 1px;
    margin-top: 2px;
    transform-origin: 0%;
    transform: scaleX(0);
    transition: .4s;
}

.links-in-header li a:hover::after {
    transform: scaleX(1);
}

.li-pages {
    cursor: pointer;
}

.login-btn-header {
    background-color: #2FB95D;
    color: #fff;
    border-radius: 100px;
    width: 198px;
    padding: 16px 40px;
    font-size: 21px;
    line-height: 24px;
    cursor: pointer;
    border: none;
}

.login-btn-header:hover {
    background-color: #43db76;
}

.border-image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 3px solid #fff;
}

.images-of-people-2 {
    z-index: 2;
    position: absolute;
    left: 50px;
}

.images-of-people-3 {
    z-index: 3;
    position: absolute;
    left: 95px;
}

.images-of-people-4 {
    z-index: 4;
    position: absolute;
    left: 145px;
}

.images-of-people-5 {
    z-index: 5;
    position: absolute;
    left: 190px;
}

.block-joined {
    display: flex;
    position: relative;
    align-items: center;
    top: 85px;
    gap: 220px;
}

.block-joined ul {
    display: flex;
}

.block-joined div h1 {
    color: #043A3A;
    font-weight: 600;
    font-size: 50px;
}

.block-joined div p {
    position: relative;
    bottom: 8px;
}

section:first-child {
    display: flex;
}

.desc-section-1 {
    width: 639px;
    font-family: Mulish;
    font-size: 16px;
    line-height: 24px;
    color: #525252;
}

section:first-child aside:last-child {
    margin-top: 110px;
    margin-left: 37px;
}

.head-text-section-1 {
    font-size: 96px;
    color: #043A3A;
    font-weight: 700;
    line-height: 110px;
}

.head-text-section-1 span {
    color: #2FB95D;
}

.section-block-btns {
    margin-top: 56px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.get-started,
.learn-more {
    color: #fff;
    border-radius: 100px;
    padding: 24px 40px;
    border: none;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
}

.get-started {
    background-color: #2FB95D;
}

.learn-more {
    background-color: #043A3A;
}

.get-started:hover {
    background-color: #43db76;
}

.learn-more:hover {
    background-color: #055f5f;
}

menu section:nth-child(2) {
    margin-top: 80px;
}

.head-text-section-2 {
    text-align: center;
    color: #043A3A;
    font-size: 67px;
    font-weight: 600;
    line-height: 72px;
}

.head-text-section-2 span {
    color: #2FB95D;
}

.desc-section-2 {
    text-align: center;
    margin-top: 24px;
    color: #525252;
    font-size: 16px;
    font-family: Mulish;
}

.landscape-image {
    display: flex;
    justify-content: center;
    margin-top: 27px;
}

.landscape-image-footer {
    background-color: #043A3A;
    padding: 40px 64px;
    width: 1244px;
    height: 168px;
    border-radius: 0px 0px 24px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 4px;
}

.landscape-image-footer dl {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landscape-image-footer dl li {
    color: #fff;
}

.vector {
    width: 1px;
    height: 72px;
    background-color: #fff;
}

.landscape-image-footer dl li {
    text-align: center;
}

.landscape-image-footer dl li dt {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    line-height: 56px;
}

.footer-dl-plus {
    color: #2FB95D;
}

.landscape-image-footer dl li dd {
    font-family: Mulish;
    margin-top: 8px;
    line-height: 24px;
}

menu section:nth-child(3) {
    width: 1244px;
    margin: 0 auto;
    position: relative;
    top: 160px;
}

.head-text-section-3 {
    color: #043A3A;
    font-size: 67px;
    font-weight: 600;
    line-height: 72px;
}

.head-text-section-3 span {
    color: #2FB95D;
}

.desc-section-3 {
    margin-top: 24px;
    color: #525252;
    font-family: Mulish;
    width: 758px;
    line-height: 24px;
}

.aside-section-3 {
    position: absolute;
    top: 0;
    right: 0;
}

.aside-section-3 img {
    border-radius: 15px;
}

.article-section-3 {
    margin-top: 80px;
}

.article-section-3 ul {
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.article-section-3 ul li {
    display: flex;
    align-items: center;
    position: relative;
}

.article-section-3 ul li aside {
    margin-left: 16px;
}

.article-section-3 ul li aside h1 {
    color: #043A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    position: absolute;
    top: -40px;
}

.article-section-3 ul li aside p {
    color: #525252;
    line-height: 24px;
    width: 662px;
    position: absolute;
    top: 2px;
}

.article-section-3 ul li aside a {
    position: absolute;
    bottom: -45px;
}

.read-more {
    color: #2FB95D;
}

menu section:nth-child(4) {
    width: 1244px;
    margin: 0 auto;
    margin-top: 360px;
}

.head-text-section-4 {
    text-align: center;
    color: #043A3A;
    font-size: 67px;
    font-weight: 600;
    line-height: 72px;
}

.head-text-section-4 span {
    color: #2FB95D;
}

.desc-section-4 {
    color: #525252;
    line-height: 24px;
    width: 746px;
    text-align: center;
    margin: 0 auto;
    margin-top: 24px;
}

.services {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.service {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    padding: 40px 0 40px 0;
    box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09);
    border-radius: 16px;
}

.background-icon {
    padding: 16px;
    background-color: #043A3A;
    border-radius: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}

.frame-service {
    width: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.frame-service h1 {
    color: #043A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
}

.desc-service {
    width: 490px;
    color: #525252;
    line-height: 24px;
}

menu section:nth-child(5) {
    margin-top: 160px;
}

.head-text-section-5 {
    text-align: center;
    color: #043A3A;
    font-size: 67px;
    line-height: 72px;
}

.head-text-section-5 span {
    color: #2FB95D;
}

.desc-section-5 {
    color: #525252;
    line-height: 24px;
    text-align: center;
    margin-top: 24px;
}

menu section:nth-child(5) div {
    display: flex;
    justify-content: center;
}

.ul-packages {
    width: 1050px;
    margin-top: 108px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.package-1 {
    width: 466px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.package-text-block {
    background-color: #2FB95D;
    border-radius: 24px 24px 0px 0px;
    width: 384px;
    height: 56px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-package-1 {
    background-color: #043A3A;
    height: 640px;
    width: 466px;
    border-radius: 24px;
    position: relative;
}

.article-package {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid #fff;
    padding: 40px;
    width: 466px;
    color: #fff;
}

.package-plan-text {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

.price-package {
    font-size: 67px;
    font-weight: 600;
    line-height: 72px;
}

.frame-package-1 aside {
    width: 466px;
    height: 404px;
    position: absolute;
    bottom: 0;
}

.frame-package-1 aside {
    width: 386px;
    color: #fff;
}

.frame-package-1 aside ul {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.frame-package-1 aside ul li,
.list-check {
    width: 386px;
}

.frame-package-1 aside *,
.frame-package-2 aside * {
    font-family: Mulish;
}

.frame-package-1 aside ul li div, 
.frame-package-2 aside ul li div {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.purchase-package-1 {
    color: #043A3A;
    border: none;
    position: absolute;
    bottom: 35px;
    width: 386px;
    padding: 24px 40px;
    border-radius: 100px;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
}

.package-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.package-text-block-2 {
    background-color: #043A3A;
    width: 384px;
    height: 56px;
    border-radius: 24px 24px 0px 0px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-package-2 {
    height: 696px;
    width: 466px;
    background-color: #2FB95D;
    border-radius: 24px;
    position: relative;
}

.list-check {
    color: #fff;
}

.frame-package-2 aside {
    position: absolute;
    top: 280px;
}

.frame-package-2 aside ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.purchase-package-2 {
    color: #2FB95D;
    border: none;
    position: absolute;
    bottom: -100px;
    width: 386px;
    padding: 24px 40px;
    border-radius: 100px;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
}